#mainHeading {
  color: red;
}

body {
    background-color: black;
    margin: 8px;
    color: gold;
  }
  
  h1 {
    color: goldenrod;
    
  }

  h2 {
      color: goldenrod;
      
  }

  h3{
      color: goldenrod;
      
  }

  p{
    color: white;
    font-size: 14px;
    margin-left: 8px;
  }

  .funParagraph{
    color: green
  }